{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
      <div class="container">
        <div class="row gy-5">
          <!-- Latest Posts -->
          <main class="col-lg-8"> 
            <div class="container">
              <div class="row gy-4 mb-5">
                {% for post in queryset %}
                <!-- post -->
                <div class="col-xl-6"><a class="mb-3" href = "{{ post.get_absolute_url }}"><img class="img-fluid" src = "{{ post.thumbnail.url }}" alt="..."/></a>
                  <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">{{ post.timestamp }}</small>
                    {% for cat in post.categories.all %}
                    <a class="small fw-bold text-uppercase small" href = "#"> {{ cat }} </a>
                    {% endfor %}
                  </div>
                  <h3 class="h4"><a class="text-dark" href = "{{ post.get_absolute_url }}"> {{ post.title }} </a></h3>
                  <p class="text-muted text-sm"> {{ post.overview }} </p>
                  <ul class="list-inline list-separated text-gray-500 mb-0">
                    <li class="list-inline-item"><a class="d-flex align-items-center flex-wrap text-reset" href = "#">
                        <div class="avatar flex-shrink-0"><img class="img-fluid" src = "{{ post.author.profile_picture.url }}" alt="..."/></div><small> {{ post.author.user.username }} </small></a></li>
                    <li class="list-inline-item small"><i class="far fa-clock"></i> {{ post.timestamp|timesince }} </li>
                    <li class="list-inline-item small"><i class="far fa-comment"></i> {{ post.comment_count }} </li>
                  </ul>
                </div>
                {% endfor %}
              </div>
              <!-- Pagination -->
              <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  {% if queryset.has_previous %}
                  <li class="page-item"><a class="page-link" href = "?{{ page_request_var }}={{ queryset.previous_page_number }}"><i class="fas fa-angle-left"></i></a></li>
                  {% endif %}
                  <li class="page-item active"><a class="page-link" href = "?{{ page_request_var }}={{ queryset.number }}"> {{ queryset.number }} </a></li>
                  {% if queryset.has_next %}
                  <li class="page-item"><a class="page-link" href = "?{{ page_request_var }}={{ queryset.next_page_number }}"><i class="fas fa-angle-right"></i></a></li>
                  {% endif %}
                </ul>
              </nav>
            </div>
          </main>
          <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <div class="card mb-5">
              <div class="card-body">
                <h3 class="h6">Search the blog</h3>
                <form action="#">
                  <div class="input-group border-bottom">
                    <input class="form-control border-0 shadow-0 ps-0" type="search" placeholder="What are you looking for?">
                    <button class="btn btn-link btn-sm shadow-0 px-0" type="submit"><i class="fas fa-search"></i></button>
                  </div>
                </form>
              </div>
            </div>
            <!-- Widget [Latest Posts Widget]        -->
            <div class="card mb-5">
              <div class="card-body">
                <h3 class="h6 mb-3">Latest Posts</h3>
                  {% for post in most_recent %}
                  <a class="text-reset mb-3" href = {{ post.get_absolute_url }}>
                    <div class="d-flex align-items-center"><img class="img-fluid flex-shrink-0" src = "{{ post.thumbnail.url }}" alt="..." width="55">
                      <div class="ms-3">
                        <p class="mb-2 fw-bold text-gray-700 lh-1">{{ post.title }}</p>
                        <ul class="list-inline list-separated text-gray-500 d-flex align-items-center">
                          <li class="list-inline-item small"><i class="far fa-eye"></i> {{ post.view_count }} </li>
                          <li class="list-inline-item small"><i class="far fa-comment"></i> {{ post.comment_count }} </li>
                        </ul>
                      </div>
                    </div>
                  </a>
                {% endfor %}
              </div>
            </div>
            <!-- Widget [Categories Widget]-->
            <div class="card mb-5">
              <div class="card-body">
                <h3 class="h6 mb-3">Categories</h3>
                {% for cat in category_count %}
                  <div class="p-2 d-flex justify-content-between fw-bold text-gray-600 bg-light">
                    <a class="text-reset" href = "{% static '!#' %}">{{ cat.categories__title }}</a><span>{{ cat.categories__title__count }}</span></div>
                {% endfor %}
              </div>
            </div>
            <!-- Widget [Tags Cloud Widget]-->
            <div class="card">
              <div class="card-body">     
                <h3 class="h6 mb-3">Tags</h3>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a class="tag" href = '!#'>#Business </a></li>
                  <li class="list-inline-item"><a class="tag" href = '!#'>#Fashion </a></li>
                  <li class="list-inline-item"><a class="tag" href = '!#'>#Sports </a></li>
                  <li class="list-inline-item"><a class="tag" href = '!#'>#Technology </a></li>
                  <li class="list-inline-item"><a class="tag" href = '!#'>#Economy </a></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </section>
    <div class="copyrights text-white py-4" style="background: #090909">
      <div class="container">
        <div class="row text-center gy-2">
          <div class="col-md-6 text-md-start">
            <p class="mb-0 fw-light text-sm">&copy; 2022. All rights reserved. Your great site.</p>
          </div>
          <div class="col-md-6 text-md-end">
            <p class="mb-0 text-sm">Template By <a class="text-reset fw-light" href = "{% static 'https://bootstrapious.com/p/bootstrap-blog' %}">Bootstrapious</a>
              <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
            </p>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}